@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 5;
    padding: 0;
}

.legenda {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}
.cadastro {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
}

fieldset {
    border: 0;
}

body, input, select, button {
    font-family: sans-serif;
    font-size: 20PX;
}

.linha {
    margin-bottom: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.linha label {
    margin-bottom: 8px;
    color: #666;
    display: block;
}

fieldset.grupo .linha {
    float:  left;
    margin-right: 16px;
}

.linha input[type="text"],
.linha input[type="email"],
.linha input[type="number"],
.linha input[type="tel"],
.linha select{
    padding: 8px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.linha label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 24px;
}

.botao {
    font-size: 20px;
    background: rgb(18, 31, 214);
    border: 0;
    margin-bottom: 16px;
    color: #FFF;
    padding: 8px 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: rgb(0, 204, 255);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao.checkbox {
    cursor: pointer;
}